<div class="page-container">
<section class="all-notes" id="uk">
  <h1>Welcome to your list of notes!</h1> 
  <div class="headlines">
    <h3>Name</h3>
    <h3>Created</h3>
    <h3>Category</h3>
    <h3>Content</h3>
    <h3>Dates</h3>
    <div class="buttons-container">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.997.997 0 0 0-.707.293L2.294 5.292A.996.996 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM12 18l-5-5h3v-3h4v3h3l-5 5z"/></svg>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"/></svg>
    </div>
  </div>
  <div class = "tasks-container">
    <ul class="tasks-list">
    </ul>
  </div>
  <div class="button-container">
<button class="create-note" type="button" data-modal-open>Create note</button>
  </div>
  </section>
<section class="notes-by-categories" id="uk">
  <div class="headlines">
    <h3>Note category</h3>
    <h3>Active</h3>
    <h3>Archived</h3>
  </div>
  <div class="tasks-container">
    <ul class="categories-list">
    </ul>
  </div>
</section>
</div>