<div class="backdrop is-hidden" id="data-modal">
    <div class="modal" >
        <button type="button" class="modal-close" data-modal-close>X</button>
        <p class="modal-title">Edit note</p>
        <form class="modal-form">
            <!-- <div class="input-fild">
                <label for="name" class="form-teg">Name</label>
                <div class="input-wrap">
                    <input
                    minlength="1"
                    type="text"
                    class="form-imput"
                    name="name"
                    required
                    id="name"
                    placeholder="Name"
                    />
                    <span class="error">
                        Please enter a name of your note
                    </span>
                </div>
            </div>
            <div class="input-fild">
                <label for="category" class="form-teg">Category</label>
                <div class="input-wrap">
                    <select class="form-imput" name="category">
                        <option value="Task">task</option>
                        <option value="Random thougth">random thougth</option>
                        <option value="Idea">idea</option>
                        <option value="Quote">quote</option>
                      </select>
                    <span class="error">
                        Please enter a category of your note
                    </span>
                </div>
            </div>
           

            <div class="input-fild">
                <label for="content" class="form-teg">Content</label>
                <div class="input-wrap">
                    <input
                    type="text"
                    class="form-imput"
                    name="content"
                    required
                    id="content"
                    placeholder="Content"
                    />
                    <span class="error">
                        Please enter content
                    </span>
                </div>
            </div> -->
            <button type="submit" class="modal-btn">Send</button>
        </form>
    </div>
</div>